<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data Line Graph</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
    <div id="container" style="width: 80%; height: 400px;"></div>

    <script>
        // Fetch data from the server
        fetch('/data')
            .then(response => response.json())
            .then(data => {
                const datetime = data.map(item => item.datetime);
                const temperature = data.map(item => item.temperature);

                // Create the Highcharts graph
                Highcharts.chart('container', {
                    chart: {
                        type: 'line',
                        style: {
                            fontFamily: 'Poppins'
                         }
                    },
                    title: {
                        text: 'Sensor Data'
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: 'Temperature'
                        }
                    },
                    series: [{
                        name: 'Temperature',
                        data: temperature
                    }]
                });
            });
    </script>
</body>
</html>
